svg(width="32" height="39" viewBox="0 0 32 39" fill="none" xmlns="http://www.w3.org/2000/svg")
	path(d="M9.5 38.9167V25.5L6 20" stroke="white")
	path(d="M20.3175 39V9.75001L23.5 6.5" stroke="white")
	path(d="M15.2381 39V16.25L9.5 7.5" stroke="white")
	path(fill-rule="evenodd" clip-rule="evenodd" d="M28.5 26.8633V39H27.5V26.8633H28.5Z" fill="white")
	path(fill-rule="evenodd" clip-rule="evenodd" d="M28 26.5C29.933 26.5 31.5 24.933 31.5 23C31.5 21.067 29.933 19.5 28 19.5C26.067 19.5 24.5 21.067 24.5 23C24.5 24.933 26.067 26.5 28 26.5ZM28 27C30.2091 27 32 25.2091 32 23C32 20.7909 30.2091 19 28 19C25.7909 19 24 20.7909 24 23C24 25.2091 25.7909 27 28 27Z" fill="white")
	circle(cx="26" cy="4" r="3.75" stroke="white" stroke-width="0.5")
	circle(cx="8" cy="4" r="3.75" stroke="white" stroke-width="0.5")
	path(d="M7.75 17C7.75 19.0711 6.07107 20.75 4 20.75C1.92893 20.75 0.25 19.0711 0.25 17C0.25 14.9289 1.92893 13.25 4 13.25C6.07107 13.25 7.75 14.9289 7.75 17Z" stroke="white" stroke-width="0.5")