footer.footer 
	.footer__container
		.footer__col
			h4.title-4.mb-20 Контакты для связи
			a.footer__link(href='mailto:pochta@gmail.com') pochta@gmail.com
			a.footer__link(href='tel:+375291075375') +375 (29) 107-53-75
			a.footer__link(href='https://t.me/uladzimirbel') Telegram

		.footer__col
			.text-md.light-gray Доступен для звонков с 9:00 до 19:00.

			button(type='button', title='Подняться вверх').to-top
				include ../svg/circle-up