/**
  Responsiveness: {
    lg: 1900
    md: 1024
    sm: 768
    xs: 560
  }
*/

/** Spaces */
.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

@include respond(md) {
  .mt-md-20 {
    margin-top: 20px;
  }

  .mb-md-20 {
    margin-bottom: 20px;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-60 {
  padding-top: 60px;
}

.row-main {
  display: flex;
  flex-wrap: wrap;
  margin: rem(-15);

  @include mediaMx(768) {
    margin: rem(-6);
  }
}

/** Columns */
[class*='col-'] {
  padding: rem(15);

  @include mediaMx(768) {
    padding: rem(6);
  }
}

@for $i from 1 through 11 {
  $amount: $i * 100%;
  $width: calc(#{$amount} / 12);

  .col-#{$i}-12 {
    width: $width;
  }
}

.col-full {
  width: 100%;
}

.col-md-full {
  @include respond(md) {
    width: 100%;
  }
}

.col-xs-full {
  @include respond(xs) {
    width: 100%;
  }
}

/** Flexes */
.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-nowrap {
  flex-wrap: nowrap;
}

.f-column {
  flex-direction: column;
}

.f-row {
  flex-direction: row;
}

.jc-center {
  justify-content: center;
}

.jc-space-around {
  justify-content: space-around;
}

.ai-center {
  align-items: center;
}

.upper {
  text-transform: uppercase;
}

/** Colors */
.light-gray {
  color: $lightGrayColor;
}

.medium-blue {
  color: $mediumBlueColor;
}

/** Font Sizes */